<a href="https://colab.research.google.com/github/Rakesh978/2205A21027/blob/main/class_25_09_24_and_26_09_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***UNIT=2***

# Python collection

==> List: we can change the elements and dubilcate elements its presents in a list

==> Tuple: unchangeable elements and its allows duplicate elements

==> Set: its not allows the duplicate elements and unorder changeable data

==> Dictionary: its not allow the duplicate and with in the order

***SET***

==> set is a collection of ordered unchangeable and unindex and no duplicate elements

==> sets is used to store the elements and presented as {}

==> its nots allowed the duplicate values

In [ ]:
Element={"Rakesh","rajkumar","sonu","srihari",500,1000,2000}
print(Element)

{2000, 'rajkumar', 500, 1000, 'Rakesh', 'srihari', 'sonu'}

# set duplicate value

In [ ]:
Element={"Rakesh","rajkumar","sonu","srihari",500,1000,1000,500}
print(Element)

{'rajkumar', 500, 1000, 'Rakesh', 'srihari', 'sonu'}

==> true and 1 are same value

==> flase and 0 are same

In [ ]:
bool_values={True,False,1,0}
print(bool_values)
print(len(bool_values))

{False, True}
2

In [ ]:
a={"Rakesh","sonu"}
b={1,2,3,4,5,}
c={True,False}
print(a)
print(b)
print(c)
print(len(a))
print(len(b))
print(len(c))

{'Rakesh', 'sonu'}
{1, 2, 3, 4, 5}
{False, True}
2
5
2

## set-type() and constructor

In [ ]:
Element={"Rakesh","rajkumar","sonu","srihari",500,1000,1000,500}
print(Element)
print(type(Element))

{'rajkumar', 500, 1000, 'Rakesh', 'srihari', 'sonu'}
<class 'set'>

In [ ]:
Element=set(("Rakesh","rajkumar","sonu","srihari",500,1000,1000,500))
print(Element)
print(type(Element))

{1000, 'srihari', 'sonu', 'rajkumar', 500, 'Rakesh'}
<class 'set'>

# Access set items

In [ ]:
Element=set(("Rakesh","rajkumar","sonu","srihari",500,1000,1000,500))
for value in Element:
  print(value)

1000
srihari
sonu
rajkumar
500
Rakesh

# Checking elements in set

==> use in command its give the True

==> use not in command its give the the false

In [ ]:
Element=set(("Rakesh","rajkumar","sonu","srihari",500,1000,1000,500))
print("Rakesh" in Element)
print("rajkumar" not in Element)

True
False

# Add set item

In [ ]:
Element={"Rakesh","rajkumar","sonu","srihari"}
print(Element)
Element.add("das")
print(Element)

{'Rakesh', 'srihari', 'sonu', 'rajkumar'}
{'das', 'srihari', 'sonu', 'rajkumar', 'Rakesh'}

two sets adding use .update

In [ ]:
Element={"Rakesh","rajkumar","sonu","srihari"}
point={"mango","apple","banana"}
Element.update(point)
print(Element)

{'rajkumar', 'mango', 'banana', 'Rakesh', 'srihari', 'apple', 'sonu'}

# Remove the set items from a set

use the command is .remove() or discard()

In [ ]:
Element={"Rakesh","rajkumar","sonu","srihari"}
Element.remove("rajkumar")
print(Element)

{'Rakesh', 'srihari', 'sonu'}

In [ ]:
Element={"Rakesh","rajkumar","sonu","srihari"}
Element.discard("rajkumar")
print(Element)

# pop()

==> its remove the any element in the set

==> use command .pop()

In [ ]:
Element={"Rakesh","rajkumar","sonu","srihari"}
a=Element.pop()
print(a)
print(Element)

Rakesh
{'srihari', 'sonu', 'rajkumar'}

# clear()

its clear the all elements in a set

In [ ]:
Element={"Rakesh","rajkumar","sonu","srihari"}
Element.clear()
print(Element)

set()

# loop items

In [ ]:
Element={"Rakesh","rajkumar","sonu","srihari"}
for value in Element:
  print(value)

Rakesh
srihari
sonu
rajkumar

# **LIST**

==> Here we using the square[ ]

==> in python any data tpye is avaliable

==> we can use the index in List

==> we can use add the list (+)

==> we can use the repetated items in a list is (*)

==>

## update list

In [ ]:
list=['rakesh','2003']

# delet command

del

In [ ]:
list=['rakesh','2003']
print(list)
del list[1]
print(list)

['rakesh', '2003']
['rakesh']

# Basic operation

# Built in function

In [ ]:
name=["Rakesh",'manji','suvali']
DOB=[2003,2004,2005]
print("name with maximum character",max(name))
print("name with minimum character",min(name))
print("DOB with maximum character",max(DOB))
print("DOB with minimum character",min(DOB))

name with maximum character suvali
name with minimum character Rakesh
DOB with maximum character 2005
DOB with minimum character 2003

list methods

using for add command is .append()

In [ ]:
name=("Rakesh","manji")
name.append("suvalli")
print(name)

AttributeError: 'tuple' object has no attribute 'append'

list count

comand is .count

In [ ]:
grade=['a','b','c','d']
print(grade.count('a'))

index

comand is .index

inset

to add the list

command is .insert

In [ ]:
name=['rakesh','suvalli']
print("member: ",name)
name.insert(1,"manji")
print("member: ",name)

member:  ['rakesh', 'suvalli']
member:  ['rakesh', 'manji', 'suvalli']

pop()

pop() its remove the top most element

pop(2) its remove the top 2 will remove

In [ ]:
name=['rakesh','suvalli',"manji"]
print("member: ",name)
name.pop()
print("member: ",name)
name.pop(1)
print("member: ",name)

member:  ['rakesh', 'suvalli', 'manji']
member:  ['rakesh', 'suvalli']
member:  ['rakesh']

# ***date: 26-09-24***

==> Remove command is .remove(element)

In [ ]:
name=['rakesh','suvalli',"manji"]
print("member: ",name)
name.remove("manji")
print("member: ",name)

member:  ['rakesh', 'suvalli', 'manji']
member:  ['rakesh', 'suvalli']

reverse command is .reverse

In [ ]:
name=['rakesh','suvalli',"manji"]
print("member: ",name)
name.reverse()
print("member: ",name)

member:  ['rakesh', 'suvalli', 'manji']
member:  ['manji', 'suvalli', 'rakesh']

sort command is .sort

In [ ]:
name=['rakesh','suvalli',"manji"]
print("member: ",name)
name.sort()
print("member: ",name)

member:  ['rakesh', 'suvalli', 'manji']
member:  ['manji', 'rakesh', 'suvalli']

# **Tuples**

==> it is a collections of elements it any type of data type

==> it representation in  normal ()

==> in it elements can not be updated

==> its only read data

==> in it access the index present in the list only

In [ ]:
tuple=("rakesh","vikram","ajay","ambadas")
print(tuple)
print(tuple[0])
print(tuple[0:2])
print(tuple[0:])
print(tuple[::-1])
print(tuple[2:0:-1])

('rakesh', 'vikram', 'ajay', 'ambadas')
rakesh
('rakesh', 'vikram')
('rakesh', 'vikram', 'ajay', 'ambadas')
('ambadas', 'ajay', 'vikram', 'rakesh')
('ajay', 'vikram')

In [ ]:
tuple=("rakesh","vikram","ajay","ambadas")
tg=(200,2004,2002)
print(tuple*2)
print(tuple+tg)
list=["pavan","phanindra","rahul"]
print(list)
list[0]="rajkumar"
print(list)

('rakesh', 'vikram', 'ajay', 'ambadas', 'rakesh', 'vikram', 'ajay', 'ambadas')
('rakesh', 'vikram', 'ajay', 'ambadas', 200, 2004, 2002)
['pavan', 'phanindra', 'rahul']
['rajkumar', 'phanindra', 'rahul']

# **Dictionary**

==> it is in {} or ()

==> it is no index present

==> in this values should be taken as 'key'

In [ ]:
dict={}
print(dict)
dict["one"]="my opinon is my own"
print(dict)
dict["2"]="my self"
print(dict)
print(dict.keys())
print(dict.values())

{}
{'one': 'my opinon is my own'}
{'one': 'my opinon is my own', '2': 'my self'}
dict_keys(['one', '2'])
dict_values(['my opinon is my own', 'my self'])

In [ ]:
base={"name":"rakesh","marks":848}
print(base)
print(base["name"])
print(base["marks"])
base["marks"]=900
print(base)
base["name"]="sonu"
print(base)
print(base.keys())
print(base.values())

{'name': 'rakesh', 'marks': 848}
rakesh
848
{'name': 'rakesh', 'marks': 900}
{'name': 'sonu', 'marks': 900}
dict_keys(['name', 'marks'])
dict_values(['sonu', 900])