<a href="https://colab.research.google.com/github/Rakesh978/2205A21027/blob/main/class_4_9_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# for loop syntax
for variable in range(number of u want to exuceted):
write the statement u want to exuceted

In [ ]:
for i in range(5):
  print("i=",i)

i= 0
i= 1
i= 2
i= 3
i= 4

# print the odd numbers 0-20 by using for loop and while loop

for loop

In [ ]:
for a in range(21):
  if(a%2 !=0):
    print("a=",a)

a= 1
a= 3
a= 5
a= 7
a= 9
a= 11
a= 13
a= 15
a= 17
a= 19

while loop

In [ ]:
a=0
while(a<=20):
  if(a%2 !=0):
    print("a=",a)
  a=a+1

a= 1
a= 3
a= 5
a= 7
a= 9
a= 11
a= 13
a= 15
a= 17
a= 19

for loop

In [ ]:
for S in 'Srihari':
  print("S=",S)
print("Rakesh")

S= S
S= r
S= i
S= h
S= a
S= r
S= i
Rakesh

In [ ]:
names=['hari','raki','raj','mani']
for a in names:
  print("a=",a)
print("Rakesh")

a= hari
a= raki
a= raj
a= mani
Rakesh

In [ ]:
a=['apple','banana','orange']
print("number of fruits=",len(a))
for fruits in range(len(a)):
  print("fruit_name=",a[fruits])
print("rakesh")

number of fruits= 3
fruit_name= apple
fruit_name= banana
fruit_name= orange
rakesh

In [ ]:
for a in range(11):
  if(a%2 ==0):
    print("even number=",a)
  else:
    print("odd number=",a)

even number= 0
odd number= 1
even number= 2
odd number= 3
even number= 4
odd number= 5
even number= 6
odd number= 7
even number= 8
odd number= 9
even number= 10

# nested for loop

In [ ]:
for i in range(6):
  for j in range(6):
    k=i*j
    print(k,end= " ")
  print()

0 0 0 0 0 0
0 1 2 3 4 5
0 2 4 6 8 10
0 3 6 9 12 15
0 4 8 12 16 20
0 5 10 15 20 25

In [ ]:
a=0
while(a<=2):
  b=0
  while(b<=2):
    c=a*b
    print(c,end=" ")
    b=b+1
  print()
  a=a+1

0 0 0
0 1 2
0 2 4

In [ ]:
a=0
for a in range(6):
  while(a<=6):
    b=0
  while(b<=6):
    c=a*b
    print(b)
    print(c,end=" ")
  print()
  a=a+1