<a href="https://colab.research.google.com/github/Rakesh978/2205A21027/blob/main/classwork_1%262.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Hello world**

In [ ]:
print("hello world")

hello world

# **Arthametic operations**

# **Add**

In [ ]:
print("25+50=",25+50)

25+50= 75

In [ ]:
print("90-400=",90-400)

90-400= -310

In [ ]:
print("25*25=",25*25)

25*25= 625

In [ ]:
print("625/25=",625/25)

625/25= 25.0

In [ ]:
print("500%2=",500%2)

500%2= 0

In [ ]:
print("225+25=",225+25)
print("225-25=",225+25)
print("225*25=",225+25)
print("225/25=",225+25)
print("225%25=",225+25)

225+25= 250
225-25= 250
225*25= 250
225/25= 250
225%25= 250

In [ ]:
a=15
print(a)
print(type(a))

15
<class 'int'>

In [ ]:
a=25
b="Rakesh"
print(a)
print(b)
print(type(a))
print(type(b))

25
Rakesh
<class 'int'>
<class 'str'>

In [ ]:
x=20
y=50.5
z="Rakesh"
print("type(x)",type(x))
print("type(y)",type(y))
print("type(z)",type(z))
x="pavan"
print("type(x)",type(x))

type(x) <class 'int'>
type(y) <class 'float'>
type(z) <class 'str'>
type(x) <class 'str'>

In [ ]:
cost_item=20
no_item=input("Enter no.of items Required")
total_bill=cost_item*int(no_item)
print("cost per item=Rs.",cost_item)
print("no.of items ordered=",no_item)
print("total bill amount=Rs.",total_bill)

Enter no.of items Required5
cost per item=Rs. 20
no.of items ordered= 5
total bill amount=Rs. 100

# **variables**

In [ ]:
x=5
y="Rakesh"
z=50.2
print(x)
print(y)
print(z)

5
Rakesh
50.2

In [ ]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
y1="Rakesh"
y2='Rakesh'
print(y1)
print(y2)
print(type(y1))
print(type(y2))

Rakesh
Rakesh
<class 'str'>
<class 'str'>

# **casting**

In [ ]:
y1=50
print(y1)
y2=float(y1)
print(y2)
print(type(y2))
y3=str(y1)
print(y3)
print(type(y3))

50
50.0
<class 'float'>
50
<class 'str'>

In [ ]:
y1=int(10)
y2=float(10)
y1=str(10)
print(y1)
print(y2)
print(y3)
print(type(y1))
print(type(y2))
print(type(y3))

10
10.0
50
<class 'str'>
<class 'float'>
<class 'str'>

In [ ]:
c=50
d=float(c)
print(type(d))

<class 'float'>

# **variable name**

In [ ]:
my_name="Rakesh"
_Age=21
_collage_name="SR University"
Hall_ticket=27
Branch="EEE"
print("my_name=",my_name)
print("_Age=",_Age)
print("_collage_name=",_collage_name)
print("Hall_ticket=",Hall_ticket)
print("Branch=",Branch)

my_name= Rakesh
_Age= 21
_collage_name= SR University
Hall_ticket= 27
Branch= EEE

In [ ]:
x,y,z='sonu','sahasra','Rakesh'
print(x)
print(y)
print(z)
print(x +y +z)

sonu
sahasra
Rakesh
sonusahasraRakesh