<a href="https://colab.research.google.com/github/Rakesh978/2205A21027/blob/main/class_05_09_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***statements***

1) break statement

2) continue statement

3) pass statement

**==> break statement**

terminates the loop statement and transfers execution to the statement immedi

In [ ]:
num=[10,2,6,5,12]
for i in range(len(num)):
  if(num[i]==5):
    print("index=",i)
print("good byee")

index= 3
good byee

using break statement

In [ ]:
num=[10,2,6,3,5]
for i in range(len(num)):
  print("a=",num[i])
  if(i==2):
    break

a= 10
a= 2
a= 6

In [ ]:
num=[3,9,8,7,13,17,19]
for i in range(len(num)):
  if(num[i]%2==0):
    print("even number=",num[i])
    break

even number= 8

In [ ]:
num=15
while(num>0):
  print("num=",num)
  if(num==3):
    break
  num=num-1
print("good")

num= 15
num= 14
num= 13
num= 12
num= 11
num= 10
num= 9
num= 8
num= 7
num= 6
num= 5
num= 4
num= 3
good

In [ ]:
num=[2,3,20,25,40,50,60,80]
a=input("enter the number:")
for i in range(len(num)):
  if(num[i]==a):
    print("number=",num[i])
    break
  else:
      if(i==len(num)-1):
        print("number not found")

enter the number:45
number not found

**continue statement**

In [ ]:
str= "rajkumar"
for i in str:
  if(i=="u"):
    continue
  print("letter=",i)
print("rakesh")

letter= r
letter= a
letter= j
letter= k
letter= m
letter= a
letter= r
rakesh

In [ ]:
str= "rajkumar"
for i in str:
  if(i=="u"):
    break
  print("letter=",i)
print("rakesh")

letter= r
letter= a
letter= j
letter= k
rakesh

In [ ]:
num=15
while(num>0):
  num=num-1
  if(num>8):
    continue
  print("num=",num)
print("rajkumar")

num= 8
num= 7
num= 6
num= 5
num= 4
num= 3
num= 2
num= 1
num= 0
rajkumar

In [ ]:
num=[10,20,30,40,50]
for i in num:
  if(i==30):
    print(i)
    break
  print(i)

10
20
30

In [ ]:
num=[10,20,30,40,50]
for i in num:
  if(i==30):
    continue
    print(i)
  print(i)

10
20
40
50

# ***global variable and local variable***

==> variable is out side the  function is global variable

==> variable is inside the function is local variable

In [ ]:
x=5
def r(x):
  global a
  y=x+5
  z=10
  print(z,y)
r()
print(z)

TypeError: r() missing 1 required positional argument: 'x'